CPA-venv/
*.csv
*.log
CPD-venv/
*.pkl
*.pkl.gz
*.nc
*.npy
*.ipynb_checkpoints
__pycache__/
*.pyc
models/
*.h5
*.pth
# frontend

frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.test
frontend/.env.production
frontend/.cache
frontend/public/favicon.ico
frontend/public/logo192.png
frontend/public/logo512.png
frontend/public/manifest.json
frontend/public/robots.txt
frontend/public/asset-manifest.json
frontend/public/service-worker.js
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

        